@model IEnumerable<DellChallenge.D2.Web.Models.ProductModel>

@{
    ViewData["Title"] = "View";
}
<h4>All Products</h4>
<hr />

@foreach (var item in Model)
{
<div class="row border-bottom">
    <div class="col-md-4">

        @item.Name - @item.Category     
    </div>
    <div class="col-md-1">
        <form asp-action="Edit" method="get" asp-route-id="@item.Id">
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-1">
        <form asp-action="DeletePost" method="post" asp-route-id="@item.Id">
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
}